html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin: 50px 50px 0 50px;
}

footer {
    flex-shrink: 0;
    margin: 50px;
}


h1 {
    font-family: 'Eczar', serif;
    background: -webkit-linear-gradient(0.254turn, #12c2e9, #c471ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: skewY(-2deg);
    padding-bottom: 20px;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 145%;
    max-width: 600px;
}

footer a {
    display: block;
    padding-bottom: 10px;
    margin-right: 10px;
}

.passtext {
    font-size: 12px;
    color: #A9A9A9;
}

.passtext a {
    color: #A9A9A9;
}

/** Desktop classes **/

@media (min-width: 736px) {

footer a {
    display: inline;
    padding-bottom: 0px;
    padding-right: 8px;
}

.squiggle {
    background: linear-gradient(to bottom, #e212e9 0%, #e212e9 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: #333;
    text-decoration: none;
}

.squiggle:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2305C102' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 4px;
    background-repeat: repeat-x;
    text-decoration: none;
}

}