html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin: 50px 50px 0 50px;
}

footer {
    flex-shrink: 0;
    margin: 50px;
}

h1 {
    font-family: 'Eczar', serif;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 145%;
    max-width: 600px;
}

footer a {
    display: block;
    padding-bottom: 10px;
}

.passtext {
    font-size: 12px;
    color: #A9A9A9;
}

.passtext a {
    color: #A9A9A9;
}

/** Desktop classes **/

@media (min-width: 736px) {

footer a {
    display: inline;
    padding-bottom: 0px;
    padding-right: 8px;
}

}